<div class="page-header">
  <div class="pull-right">
    <%= link_to "Edit", edit_passenger_suitcase_path(@passenger, @suitcase), class: "btn btn-info" %>
  </div>
  <h1>Show Suitcase</h1>
</div>

<ol class="breadcrumb">
  <li><%= link_to "Suitcases", passenger_suitcases_path(@passenger) %></li>
  <li class="active">Show</li>
</ol>

<%= @suitcase.description %>
